body {
    font-family: "Georgia";
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.copyright {
    font-size: 10px;
}
#contentTable {
    width: 25%;
    border: 3px solid lightgrey;
    text-align: left;
    margin-left: 500px;
}
#intro {
    /*width: 55%;*/
    margin-left: 240px;
    text-align: left;
    text-indent: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.info p {
    margin-left: 5px;
    text-align: left;
    text-indent: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#refs {
    width: 25%;
    text-align: left;
    margin-left: 500px;
}
  
#body {
    border: 1px solid grey;
    width: 70%;
    margin-left: 200px;
}  

/* Styling for the navigation bar and buttons */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a :not(#webName) {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar p :not(#webName) {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: right;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover :not(#webName), .dropdown:hover .dropbtn {
    background-color: red;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
a:hover :not(#webName) {
    background-color: #ddd;
    color: black;
}

#webName a:link {
  color: white;
}

#webName a:visited {
  color: white;
  text-decoration: none;
}

#webName {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}
  
.previous {
    background-color: #f1f1f1;
    color: black;
}
  
.next {
    background-color: #f1f1f1;
    color: black;
}

/* Styling for images (Update) */
img {
    position: relative;
    left: 310px;
}
#skelSys {
	position: absolute;
	left: 50%;
}
#boneTyps {
	position: relative;
	left: 25%;
}
#ligam {
	position: relative;
	left: 25%;
}
#tendons {
	position: relative;
	left: 25%;
}
#cartilage {
	position: relative;
	left: 20%;
}
#axialSkel {
	position: relative;
	left: 15%;
}
#appendSkel {
	position: relative;
	left: 15%;
}
  