/* Styling for content */
body {
    font-family: "Georgia";
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
.copyright {
    font-size: 10px;
}

.info p, #intro {
    margin-left: 5px;
    text-indent: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
#srcs {
    width: 25%;
    text-align: left;
    margin-left: 500px;
}
  
#body {
    border: 1px solid grey;
    width: 70%;
    margin-left: 200px;
}

/* Styling for the navigation bar and dropdown */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/*li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block;
}

#sciWeb {
  font-size: 20px;
  padding: 15px 35px;
}
/* End navigation */

#prev {
  background-color: #f1f1f1;
  color: black;
  text-decoration: blue;
  display: inline-block;
  padding: 8px 16px;
}

#next {
  background-color: #f1f1f1;
  color: black;
  text-decoration: blue;
  display: inline-block;
  padding: 8px 16px;
}


#table_of_contents {
  width: 25%;
  border: 3px solid lightgrey;
  text-align: left;
  margin-left: 500px;
}

/* Styling for images */ 
/*#bioMol {
   height: 480px;
   position: relative;
   left: 225px;
}
#carbs1 {
   width: 400px;
}
#lipid1, #lipid3 {
  height: 250px;
}
#aminoAcid, #nucleicAcid1, #nucleicAcid2 {
  height: 280px;
}
#aminoAcid2 {
  height: 240px;
}
#aminoAcid3, #nucleicAcid {
  height: 300px;
}*/
